//- layout.pug
html
  head
    title Dance with us!
    block scripts
    block style
  body
    nav#navbar
            ul 
                div#logo 
                    <img src="https://www.seekpng.com/png/detail/43-437103_dancer-silhouette-transparent-background.png" alt="Dancer Silhouette Transparent Background@seekpng.com">       
                    |Dancela
                li #[a(href="/") Home ]
                li #[a(href="/") About ]
                li #[a(href="/") Services ]
                li #[a(href="/") Class Info ]
                li #[a(href="/contact") Contact Us ]
    block content
    footer#footer 
            |   Copyright &copy  2023 www.dancewithUs.com | All Rights Reserved.