doctype HTML 
html
    head 
        title Dance with us!
        style 
            include ../static/style.css 
    body 
        nav#navbar
            ul 
                div#logo 
                    <img src="https://www.seekpng.com/png/detail/43-437103_dancer-silhouette-transparent-background.png" alt="Dancer Silhouette Transparent Background@seekpng.com">       
                    |Dancela
                li #[a(href="/") Home ]
                li #[a(href="/") About ]
                li #[a(href="/") Services ]
                li #[a(href="/") Class Info ]
                li #[a(href="/") Contact Us ]
        section#pictureSection 
            div Welcome to Our Dance Academy 
            div Eat Sleep Dance Repeat 


        section#missionSection 
            h2 Our Mission 
            div.container
                div.card 
                    h3 Dance the way you like 
                    div.card-box
                        div.card-img
                            <img src="https://www.seekpng.com/png/detail/43-437103_dancer-silhouette-transparent-background.png" alt="Dancer Silhouette Transparent Background@seekpng.com">
                        div.card-content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quibusdam.
                div.card 
                    h3 Expert teaching 
                    div.card-box
                        div.card-img
                            <img src="https://www.seekpng.com/png/detail/43-437103_dancer-silhouette-transparent-background.png" alt="Dancer Silhouette Transparent Background@seekpng.com">
                        div.card-content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quibusdam.
                div.card 
                    h3 Dance Daily
                    div.card-box
                        div.card-img
                            <img src="https://www.seekpng.com/png/detail/43-437103_dancer-silhouette-transparent-background.png" alt="Dancer Silhouette Transparent Background@seekpng.com">
                        div.card-content
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, quibusdam.
        section#sponsorSection 
            h2 Our Sponsors 
            div#sponsors
                img( src="https://www.seekpng.com/png/detail/43-437103_dancer-silhouette-transparent-background.png" class="spImage"  )
                img( src="https://www.seekpng.com/png/detail/43-437103_dancer-silhouette-transparent-background.png" class="spImage" )

        footer#footer 
            |   Copyright &copy  2023 www.dancewithUs.com | All Rights Reserved.             
        script 
            include ../static/index.js 
